.middle{
	text-align: center;
}

/*li{
	list-style-image: url('http://comps.canstockphoto.com/can-stock-photo_csp21663418.jpg');
	height: 50px;
	border: 1px solid grey;
}*/

ul{
	list-style-type: none;
}

li.eat{
	list-style-image: url('/images/b4.jpg');
	height: 50px;
	border: 1px solid grey;
}

.burgers, .burgersEaten{
	text-align: center;
	padding-top: 100px;
}

ul{
	padding-left:0;
}

/*.bod{
	border: 1px solid red;
}*/

.burgerImage{
	height: 200px;
}

button.list-group-item.list-group-item-action.btn-primary{
	color: white;
}
